<% if @carted_product && @carted_product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@carted_product.errors.count, "error") %> prohibited this product from being added to your cart:</h2>
 
    <ul>
    <% @carted_product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>  

  <section>
    <div class="row">    
      <div class="col-sm-9">
        <div class="taco_single">
            <h2><%= @product.name %></h2>
            <p>Price: <%= @product.price %></p>
            <p>Brought to you by: <%= @product.supplier.name %></p>
            <img src="<%= @product.image %>" alt="<%= @product.name %>" class="img-responsive">
            <p>Description: <%= @product.description %></p>
            <p>Rating: <span class="rating"><%= @product.rating %></span></p>
            <% if user_signed_in? && current_user.admin %>
              <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
              <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <%= form_tag "/carted_products", method: :post do %>
      <div>
        <%= label_tag :quantity %>
        <%= text_field_tag :quantity, @carted_product ? @carted_product.quantity : nil %>
      </div>
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
      <div>
        <%= submit_tag "Add To Cart" %>
      </div>
    <% end %>
  </section>
